<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-buttons start>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-navbar hideBackButton>
    <ion-title>{{ globals.user.usr_name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>{{ globals.flat.flt_city }}</p>
  


  
  <button *ngIf="manageTasksMode" block ion-button (click)="addTask()">Dodaj zadanie</button>
  <button *ngIf="manageTasksMode" block ion-button (click)="toggleManageTasks()">Zakończ</button>

  <button *ngIf="globals.user.usr_rights == 1 && !manageTasksMode" block ion-button (click)="toggleManageTasks()">Zarządzaj zadaniami</button>
  <button *ngIf="globals.user.usr_rights == 2" block ion-button (click)="suggestTast()">Zaproponuj zadanie</button>
</ion-content>
