<!-- Generated template for the HistoryListComponent component -->

<ion-item>
  <ion-label>Wykonawca</ion-label>
  <ion-select  interface="popover" [(ngModel)]="tsk_usrId" (ngModelChange)="filterExact('tsk_usrId', tsk_usrId)">
      <ion-option *ngFor="let user of users" [value]="user.$key">{{ user.usr_name }}</ion-option>
  </ion-select>
</ion-item>
<ion-item *ngIf="tsk_usrId">
  <button ion-button block (click)="removeFilter('tsk_usrId')">Usuń filtr</button>
</ion-item>

<ion-item>
  <ion-label>Status</ion-label>
  <ion-select  interface="popover" [(ngModel)]="tsk_status" (ngModelChange)="filterExact('tsk_status', tsk_status)">
    <ion-option [value]="1">Zatwierdzone</ion-option>
    <ion-option [value]="2">Wykonane</ion-option>
    <ion-option [value]="3">Nie wykonane</ion-option>
    <ion-option [value]="zero">Oczekujące na akceptacje</ion-option>
  </ion-select>
</ion-item>

<ion-item *ngIf="tsk_status">
  <button ion-button block (click)="removeFilter('tsk_status')">Usuń filtr</button>
</ion-item>


<ion-list *ngFor="let tsk of filteredTasks">
  <ion-item [ngStyle]="{'background-color': tsk.tsk_status == 0 ? '#93bcff' : (tsk.tsk_status == 1 ? '#ffe493' : (tsk.tsk_status == 2 ? '#8effb4' : '#ff8e8e')) }">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-col style="text-align: center; font-weight: bold; size: 20vh;">
              <p >{{tsk.tsk_category}}</p>
            </ion-col>
            <ion-col style="text-align: center; font-weight: bold; size: 22vh;">
              <p *ngIf="tsk.tsk_usrId.length > 0">Wyk: {{tsk.tsk_usrName}}</p>
              <p *ngIf="tsk.tsk_usrId.length == 0">BRAK WYKONAWCY</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-wrap>
              <p style="font-weight: bold;">S: {{tsk.tsk_minCompletationDate}}</p>
              <p style="font-weight: bold;">K: {{tsk.tsk_maxCompletationDate}}</p>
              <p>Opis: {{tsk.tsk_description}}</p>
              <p *ngIf="globals.user.usr_rights == 1 && tsk.tsk_commentary.length > 0">Komentarz: {{tsk.tsk_commentary}}</p>
              <p>Utworzono: {{tsk.tsk_createdAt}}, przez: {{tsk.tsk_createdBy}}</p>  
            </ion-col>
          </ion-row>                                   
        </ion-col>     
      </ion-row>           
    </ion-grid>
      


  </ion-item>
</ion-list>