<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ustawienia</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
      
    
      <ion-item>
        <ion-label color="primary" stacked>Nowe hasło</ion-label>
        <ion-input type="password" placeholder="Type here... " [(ngModel)]="newPassword" [disabled]="!passwordChangeEnabled"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label color="primary" stacked>Powtórz hasło</ion-label>
        <ion-input type="password" placeholder="Type here... " [(ngModel)]="rePassword" [disabled]="!passwordChangeEnabled"></ion-input>
      </ion-item>
      
      <button ion-button block
              (click)="changePassword()" [disabled]="!passwordChangeEnabled">Zmień hasło</button>

      
              

      <button ion-item block (click)="goToUsersManagement()">Zarządzaj użytkownikami</button>
      <ion-item *ngIf="globals.user.usr_rights == 1">
        <ion-label color="primary" floating>Kod mieszkania</ion-label>
        <ion-input type="text" placeholder="Type here... " [(ngModel)]="flt_code"></ion-input>
      </ion-item>
      <button ion-button block *ngIf="globals.user.usr_rights == 1" (click)="changeFlatCode()">Zmień kod</button>

      <button ion-button block
        (click)="leaveFlat()">Opuść mieszkanie</button>

      <button *ngIf="globals.user.usr_rights == 1" ion-button block (click)="deleteFlat()">
        Usuń mieszkanie
      </button>
    </ion-list>


</ion-content>
