<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ustawienia</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
      
    
      <ion-item *ngIf="passwordChangeEnabled">
        <ion-label color="primary" floating>Nowe hasło</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" ></ion-input>
      </ion-item>
    
      <ion-item *ngIf="passwordChangeEnabled">
        <ion-label color="primary" floating>Powtórz hasło</ion-label>
        <ion-input type="password" [(ngModel)]="rePassword" ></ion-input>
      </ion-item>
      
      <button ion-button block *ngIf="passwordChangeEnabled"
              (click)="changePassword()" >Zmień hasło</button>

      
      <button *ngIf="globals.user.usr_rights == 1" ion-button block (click)="goToUsersManagement()">Zarządzaj użytkownikami</button>
      <ion-item *ngIf="globals.user.usr_rights == 1">
        <ion-label color="primary" floating>Kod mieszkania</ion-label>
        <ion-input type="text" [(ngModel)]="flt_code"></ion-input>
      </ion-item>
      <button ion-button block *ngIf="globals.user.usr_rights == 1" (click)="changeFlatCode()">Zmień kod</button>

      <button ion-button block color="danger"
        (click)="leaveFlat()">Opuść mieszkanie</button>

      <button color="danger" *ngIf="globals.user.usr_rights == 1" ion-button block (click)="deleteFlat()">
        Usuń mieszkanie
      </button>
    </ion-list>


</ion-content>
