// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-body ion-icon {
    padding-top: 2px;
}
ion-grid {
    padding: 0px !important;
}

ion-col {
    padding: 0px !important;
}

.menu-header {
    text-align: center;
    background-color: rgb(115, 0, 182);
    height: 25vh;
    color: white;
}

button {
    text-transform: none !important;
}

.menu-body {
    color: rgb(239, 246, 255);
    background-color: rgb(55, 140, 238);
}

.task-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
}