<ion-menu id="myMenu" persistent="true" [content]="content">





<ion-content class="menu-body" >

    <ion-grid>
        <ion-row>
            <ion-col class="menu-header">
                <h1>{{ globals.user.usr_name }}</h1>
                <p *ngIf="globals.user.usr_rights == 1">Admin</p>
                <p *ngIf="globals.user.usr_rights == 2">Użytkownik</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>

                    <button  class="menu-body" ion-item menuClose (click)="goToMain()"
                    icon-start>
                    <ion-icon name="md-home"></ion-icon>
                        Główna
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToTasksHistory()" icon-start>
                        <ion-icon name="md-list"></ion-icon>
                        Wszystkie zadania
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToCommonExpanses()" icon-start>
                        <ion-icon name="ios-basket-outline"></ion-icon>
                        Wspólne wydatki
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToRanking()" icon-start>
                        <ion-icon name="md-trophy"></ion-icon>
                        Ranking
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToSettings()" icon-start>
                        <ion-icon name="md-settings"></ion-icon>
                        Ustawienia
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToAbout()" icon-start>
                        <ion-icon name="ios-people"></ion-icon>
                        O programie
                    </button>
            
                    <button  class="menu-body" ion-item menuClose (click)="logout()" icon-start>
                        <ion-icon name="md-log-out"></ion-icon>
                        Logout
                    </button>
            
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>


</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
