<ion-menu id="myMenu" persistent="true" [content]="content">





<ion-content class="menu-body" >

    <ion-grid>
        <ion-row>
            <ion-col class="menu-header">
                <h1>{{ globals.user.usr_name }}</h1>
                <p *ngIf="globals.user.usr_rights == 1">Admin</p>
                <p *ngIf="globals.user.usr_rights == 2">Użytkownik</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>

                    <button  class="menu-body" ion-item menuClose (click)="goToMain()">
                        Główna
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToTasksHistory()">
                        Wszystkie zadania
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToCommonExpanses()">
                        Wspólne wydatki
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToRanking()">
                        Ranking
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToSettings()">
                        Ustawienia
                    </button>
                    <button  class="menu-body" ion-item menuClose (click)="goToAbout()">
                        O programie
                    </button>
            
                    <button  class="menu-body" ion-item menuClose (click)="logout()">
                        Logout
                    </button>
            
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-content>


</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
