<!--
  Generated template for the TaskConfigPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Konfiguracja zadania</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <ion-item>
      <ion-label>Wybierz kategorie</ion-label>
      <ion-select interface="popover" [formControl]="taskForm.controls['tsk_category']">
        <ion-option *ngFor="let category of categories" [value]="category.cat_name">{{category.cat_name}}</ion-option>
        <ion-option (ionSelect)="addNewCategory()">Dodaj nową...</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Opis</ion-label>
      <ion-input [formControl]="taskForm.controls['tsk_description']" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Wykonawca</ion-label>
      <ion-select [formControl]="taskForm.controls['tsk_usrId']">
        <ion-option [value]="">Brak</ion-option>
        <ion-option *ngFor="let user of users" [value]="user.$key">{{ user.usr_name }}</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label floating>Min. data i godzina wykonania</ion-label>
      <ion-datetime
        displayFormat="DD.MM.YYYY HH:mm"
        
        [formControl]="taskForm.controls['tsk_minCompletationDate']"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Max. data i godzina wykonania</ion-label>
      <ion-datetime
        displayFormat="DD.MM.YYYY HH:mm"
        [formControl]="taskForm.controls['tsk_maxCompletationDate']"></ion-datetime>
    </ion-item>
    <!--
    <ion-item>
      <ion-label floating>Komentarz</ion-label>
      <ion-input [formControl]="taskForm.controls['tsk_commentary']" type="text"></ion-input>
    </ion-item>
-->
    <ion-row>
      <ion-col text-center>
        <button type="submit" ion-button block>
          Dodaj zadanie
        </button>
      </ion-col>
    </ion-row>
  </form>

  

</ion-content>
