<!-- Generated template for the TaskComponent component -->

<p>{{lol}}</p>
<button (click)="showNotifs()">Notifs</button>

<ion-item>
  <ion-label color="primary" stacked>Title</ion-label>
  <ion-input type="text" placeholder="Type here... " [(ngModel)]="tsk_title"></ion-input>
</ion-item>
<ion-item>
  <ion-checkbox  [(ngModel)]="tsk_onlyMy" checked="false"></ion-checkbox>
</ion-item>
  
<ion-list *ngFor="let tsk of tasks | tasksFilter: {tsk_title: tsk_title, tsk_onlyMy: tsk_onlyMy}">
  <ion-item style="background: rgb(159, 247, 159);">
    <ion-grid>
      <ion-row>
        <ion-col col-9>
          <h2>{{tsk.tsk_title}}</h2>
          <p>Wykonawca: {{tsk.tsk_usrName}}</p>
          <p>Rozpoczęcie: {{tsk.tsk_minCompletationDate}}</p>
          <p>Zakończenie: {{tsk.tsk_maxCompletationDate}}</p>
          <p>Opis: {{tsk.tsk_description}}</p>
          <p>Komentarz: {{tsk.tsk_commentary}}</p>
          <p>Status: {{tsk.tsk_status}}</p>
          <p>Kategoria: {{tsk.tsk_category}}</p>
          <p>DataUtwrozneia: {{tsk.tsk_createdAt}}</p>
          <p>NotifyId: {{tsk.tsk_notifyId}}</p>      
          <p>Utworzono przez: {{tsk.tsk_createdBy}}</p>      
        </ion-col>
        <ion-col col-3> 
          <ion-row style="height: 50%;"> 
            <ion-col>
                <button class="btn-options" *ngIf="globals.manageTasksMode" ion-button (click)="editTask(tsk)">Edytuj</button>
            </ion-col>
          </ion-row>
          <ion-row style="height: 50%;">
            <ion-col>
                <button class="btn-options" *ngIf="globals.manageTasksMode" ion-button (click)="deleteTask(tsk)">Usuń</button>
            </ion-col>
          </ion-row>
        </ion-col>          
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

