<!-- Generated template for the ExpensesListComponent component -->
<div>

  <ion-list *ngFor="let exp of expenses">
    <button ion-item style="background: rgb(255, 60, 60);" (click)="showExpenseDetails(exp)">

      <ion-grid>
        <ion-row>
          <ion-col> 
          </ion-col>
          <ion-col style="text-align: right;">
            <h1>{{ exp.exp_amount }}zł</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-wrap>
            Opis: {{ exp.exp_description }} <br>
            Utworzono: {{ exp.exp_createdAt }}, przez {{ exp.exp_createdBy }} 
          </ion-col>
        </ion-row>
      </ion-grid>     
    </button>
  </ion-list>
</div>
